#  Create a JSON of all object types and import the JSON into a SQL Database

In [3]:
import json

json_data=[
    {'name':"Ajay",'age':21,'staff':True,'salary':75000.00,'dept_desgn':'Developer'},
     {'name':"Ram",'age':35,'staff':False,'salary':56000.00,'dept_desgn':"ML Engineer"},
     {'name':"Likith",'age':34,'staff':True,'salary':78000.00,'dept_desgn':'Web Designer'},
     {'name':"Raj",'age':23,'staff':True,'salary':45000.00,'dept_desgn':'Data Scientist'},
     {'name':"Ganesh",'age':21,'staff':True,'salary':67000.00,'dept_desgn':'Manager'},
    {'name':"Satya",'age':19,'staff':True,'salary':67000.00,'dept_desgn':'AI Manager'}
    
]
res =json.dumps(json_data)

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="password"
)
print(mydb)
dbse = mydb.cursor()

dbse.execute("CREATE DATABASE JSONRECORDS")

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000103E6628970>

In [5]:
dbse = mydb.cursor()

dbse.execute("SHOW DATABASES")

for entry in dbse:
  print(entry)

('doctors',)
('employee_mangement',)
('information_schema',)
('jsonrecords',)
('mydatabase',)
('mydatabase1',)
('mysql',)
('performance_schema',)
('sakila',)
('students_database',)
('sys',)
('world',)

In [6]:

mydb = mysql.connector.connect(
  host="localhost",
 user="root",
  password="password",
  database="jsonrecords"
)
dbse = mydb.cursor()

dbse.execute("CREATE TABLE employee (name VARCHAR(255),age INT, permanent_staff VARCHAR(255), salary DOUBLE, dept_and_designation VARCHAR(255))")

In [7]:
dbse = mydb.cursor()

dbse.execute("SHOW TABLES")

for value in dbse:
  print(value)

('employee',)

In [8]:
dbse = mydb.cursor()

dbse.execute("SHOW COLUMNS FROM employee")

for value in dbse:
  print(value)

('name', b'varchar(255)', 'YES', '', None, '')
('age', b'int', 'YES', '', None, '')
('permanent_staff', b'varchar(255)', 'YES', '', None, '')
('salary', b'double', 'YES', '', None, '')
('dept_and_designation', b'varchar(255)', 'YES', '', None, '')