# Create an Excel with data of Student database and add all the values which is required for student management database, Read the excel file and add the datas into a DB (using script)

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
 user="root",
  password="password",
)

mycursor = mydb.cursor()
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C7997D50A0>

In [4]:
dbse = mydb.cursor()

dbse.execute("CREATE DATABASE Students_Database")

In [6]:
dbse = mydb.cursor()

dbse.execute("SHOW DATABASES")

for entry in dbse:
  print(entry)

('doctors',)
('information_schema',)
('mydatabase',)
('mydatabase1',)
('mysql',)
('performance_schema',)
('sakila',)
('students_database',)
('sys',)
('world',)

In [11]:

mydb = mysql.connector.connect(
  host="localhost",
 user="root",
  password="password",
  database="students_Database"
)
dbse = mydb.cursor()

dbse.execute("CREATE TABLE student2 (roll_no INT(10),Reg_no INT(10),NAME VARCHAR(255), semester1 INT(25),semester2 INT(25),semester3 INT(25), CGPA INT(35) ,PHONE_NUMBER INT,email_id VARCHAR(255))")

In [12]:
dbse = mydb.cursor()

dbse.execute("SHOW TABLES")

for value in dbse:
  print(value)

('student1',)
('student2',)
('student3',)

In [13]:
cur = mydb.cursor()
cur.execute('SELECT * FROM student1')
for row in cur:
    print(row)

In [12]:

import pandas as pd

df = pd.read_excel('students_database.xlsx')

In [2]:
import openpyxl

In [10]:

path = "students_database.xlsx"
wb_obj = openpyxl.load_workbook(path)
sheet_obj = wb_obj.active
cell_obj = sheet_obj.cell(row = 5, column = 3)
print(cell_obj.value)

Asha

In [11]:
for i in range(1,11):
    cell_obj = sheet_obj.cell(row = 5, column = i)
    print(cell_obj.value)

4
U18CN244
Asha
9.8
9.5
8.8
9.36667
asha@gmail.com
None
None

In [ ]:
import xlrd

import MySQLdb

xl_sheet = xlrd.open_workbook("students.xlsx")
xl_sheet
sheet_name =xl_sheet.sheet_names()
sheet_name


mydb = mysql.connector.connect(
  host="localhost",
 user="root",
  password="password",
  database="students_Database"
)

cur = mydb.cursor()
for s in range(0,1):
    sheet=xl_sheet.sheet_by_index(s)
    sql= "INSERT INTO student1(roll_no,Reg_no,NAME,semester1,semester2 ,semester3 , CGPA ,email_id) VALUES(%s,%s,%s,%s,%s,%s,%s,%s)"
    for r in range(1,sheet.nrows):
        roll_no =sheet.cell(r,0).value
        Reg_no =sheet.cell(r,1).value
        NAME =sheet.cell(r,2).value
        semester1 =sheet.cell(r,3).value
        semester2 =sheet.cell(r,4).value
        semester3 =sheet.cell(r,5).value
        CGPA =sheet.cell(r,6).value
        email_id=sheet.cell(r,7).value
        values =(roll_no ,Reg_no,NAME ,semester1,semester2 ,semester3 , CGPA ,email_id)
        
        cur.execute(sql,values)
mydb.commit()

(1	U18CN241	Ajay ram	9.3	6.9	6.9	7.7	ajayramlvr@gmail.com)
(2	U18CN242	Ganesh	8.5	8.7	8.9	8.7	ganesh@gmail.com)
(3	U18CN243	Satya	7.9	8.8	8.7	8.46667	satya@gmail.com)
(4	U18CN244	Asha	9.8	9.5	8.8	9.36667	asha@gmail.com)
(5	U18CN245	Likith	9.1	5.9	5.9	6.96667	likith@gmail.com)
(6	U18CN246	Hemanth	8.8	8.7	8.7	8.73333	hemanth@gmail.com)
(7	U18CN247	Charan	7.9	8.4	8.4	8.23333	charan@gmail.com)
(8	U18CN248	Ramesh	8.6	7.6	7.6	7.93333	ramesh@gmail.com)
(9	U18CN249	Santosh	7.5	7.6	7.6	7.56667	santosh@gmail.com)
(10	U18CN250	Bhumesh	8.5	8.7	8.7	8.63333	bhumesh@gmail.com)
(11	U18CN251	Amurtha	8.4	8.6	8.6	8.53333	amurtha@gmail.com)
(12	U18CN252	Lasaya	3.2	9.3	9.3	7.26667	lasaya@gmail.com)
(13	U18CN253	Divya	5.9	8.5	8.4	7.6	divya@gmail.com)
(14	U18CN254	Pavan	9.1	7.9	3.2	6.73333	pavan@gmail.com)
(15	U18CN255	Vijay	4.5	9.8	5.9	6.73333	vijay@gmail.com)
(16	U18CN256	Mahesh	8.4	9.1	9.1	8.86667	mahesh@gmail.com)
(17	U18CN257	Khan	7.9	8.8	4.5	7.06667	khan@gmail.com)
(18	U18CN258	Izhar	8	7.9	8.4	8.1	izhar@gmail.com)
(19	U18CN259	Tasilm	6	8.6	7.9	7.5	tasilm@gmail.com)
(20	U18CN260	Devi	9	7.5	8	8.16667	devi@gmail.com)

In [2]:

mycursor = mydb.cursor()

mycursor.execute("SELECT NAME FROM student1 WHERE CGPA >6")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

NameError: name 'mydb' is not defined