# Day 2  Task

# String data types

In [2]:
#Printing values

print("30 Days 30 hour Challenge")
print('30 Days 30 hour Challenge')

30 Days 30 hour Challenge
30 Days 30 hour Challenge

In [1]:

#assigning the string(values) to variables

myname="Ajay ram"
totaldays = "thirty days"
print(myname)
print(totaldays)

Ajay ram
thirty days

In [8]:
#string indexing

i=0
name="Ajay ram"
print(name[0])
print(name[1])
print(name[2])
print(name[3])

A
j
a
y

In [9]:

#how to print pirticular character from given text

s="I will do this "

print(s[4:8])

ll d

In [10]:
#length of the string
a="ajay ram"
print(len(a))

8

In [12]:
#Joining two Strings --- String Concatenation 
a="try hard to"
b="fail again and again to"
c="acheive anything"
print(a+" "+b+ " "+c)
print(a+b+c)#without space

try hard to fail again and again to acheive anything
try hard tofail again and again toacheive anything

In [14]:

#converting string into lower case and Upper case
a="For beleving in ME"
print(a.lower())
print(a.upper())

for beleving in me
FOR BELEVING IN ME

In [15]:
#conerting cse fold with given values

s="WINGS OF FIRE ARE THE WINGS WITHIN YOU"

print(s.capitalize()) #it converts only first leter into upper and other into lower

print(s.title())      #it converts first letter of every word in uppercase and remaing in lower case(title)

print(s.swapcase())   #it converts all upper case into lower and lower case into uppercase(swapcase)

Wings of fire are the wings within you
Wings Of Fire Are The Wings Within You
wings of fire are the wings within you

In [16]:

#casefold() 
text="Everthing mustn't be done by you"

x=text.casefold()

print(x)

everthing mustn't be done by you

In [17]:
#to check type of characters present in given string

s="Make money work for you not make yourself work for money"

print(s.isalpha()) 

print(s.isalnum())

print(s.isdigit())

print(s.istitle())

print(s.isupper())

print(s.islower())

print(s.isspace())

False
False
False
False
False
False
False

# Done by



# Ajay ram