# Day 18 â€“ Python MySql (Insert into & select)

# Create a DB with doctor and doctor ID & patients visited

In [1]:
import mysql.connector

In [2]:
import mysql.connector as sql

mydb= sql.connect(host = "localhost",
                       user="ajay ram",
                       password = "password")

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C672A20B50>

In [3]:
dbse = mydb.cursor()

dbse.execute("CREATE DATABASE Doctors")

In [4]:

dbse = mydb.cursor()

dbse.execute("SHOW DATABASES")

for entry in dbse:
  print(entry)

('doctors',)
('information_schema',)
('mydatabase',)
('mydatabase1',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [6]:

mydb = mysql.connector.connect(
  host="localhost",
 user="root",
  password="password",
  database="Doctors"
)
dbse = mydb.cursor()

dbse.execute("CREATE TABLE Doctors (dr_id VARCHAR(255), Patient_visited VARCHAR(255))")

In [7]:
dbse = mydb.cursor()

dbse.execute("SHOW TABLES")

for value in dbse:
  print(value)

('doctors',)

In [11]:
dbse = mydb.cursor()

sql = "INSERT INTO Doctors (dr_id , Patient_visited) VALUES (%s,%s)"
val = [
    ("Doc1","10"),
    ("Doc2","105"),
    ("Doc3","204"),
    ("Doc4","15"),
    ("Doc5","4"),
    ("Doc6","1"),
    ("Doc7","18"),
    ("Doc8","0"),
    ("Doc9","2"),
    ("Doc10","0")
]

dbse.executemany(sql, val)

mydb.commit()

print(dbse.rowcount, "was inserted.")

10 was inserted.

# Get the doctor(s) who have more than 5 patients visited

In [12]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Doctors where Patient_visited >5")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Doc1', '10')
('Doc1', '10')
('Doc1', '10')
('Doc1', '10')
('Doc1', '10')
('Doc2', '105')
('Doc3', '204')
('Doc4', '15')
('Doc7', '18')
('Doc1', '10')
('Doc2', '105')
('Doc3', '204')
('Doc4', '15')
('Doc7', '18')

# Get the doctors with no patients visit

In [13]:

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Doctors where Patient_visited=0")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Doc8', '0')
('Doc10', '0')